
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-image: linear-gradient(to right top, #051937, #121632, #19142d, #1d1227, #1f1122);
    background-repeat: no-repeat;
    color: #ffff;
    font-family: 'Quicksand', sans-serif;
}

header {
    align-items: center;
    display: flex;
    height: 6rem;
    justify-content: space-around;
    width: 100%;
}

header .header-menu {
    align-items: center;
    background: teal;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;   
    font-weight: 600;
    list-style: none;
    /* position: fixed; */
    transition: transform 0.3s;
    transform: translateY(-100%);
    left: 6rem;
}

header .menu--show {
    transform: translateY(0);
}

header .header-menu a {
    color: #ffff;
    text-decoration: none;
}

header .header-menu .header-menu__item {
    padding: 1rem;
}

.toggle-menu {
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: .85rem;
    height: 3rem;
    position: absolute;
    right: 1.5rem;
    top: 2rem;
    width: 3rem;
    z-index: 1;
}

.toggle-menu > div {
    background: #ffff;
    border-radius: 0.5rem;
    height: 0.2rem;
    transition: all .5s;
    transform-origin: left;
    width: 100%;
}

.toggle--show div:first-child {
    transform: rotate(45deg);
}

.toggle--show div:nth-child(2) {
    opacity: 0;
}

.toggle--show div:last-child {
    transform: rotate(-45deg);
}

header .download-cv {
    position: relative;
    right: 7rem;
}

@media screen and (min-width: 760px) {

    .toggle-menu { 
        display: none;
    } 

    header .header-menu {
        flex-direction: row;
        height: 6rem;
        position: inherit;
        transform: translateY(0);
    }

    header .download-cv {
        position: relative;
        right: 0;
    }
}